<div class="modal" id="themHocPhan">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm học phần mới</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_for [:admin, @hoc_phan_new], remote: true do |f| %>
          <div class="register-top-grid">
            <div class="mation">
              <span>Tên học phần<label>*</label><i>(Tối đa 30 ký tự)</i></span>
              <%= f.text_field :ten, class: "form-control", placeholder: "VD: Môn học A" %>
            </div>
            <br>
            <div class="mation">
              <span>Số tín chỉ<label>*</label><i>(Tối thiểu là 1)</i></span>
              <%= f.text_field :so_tin_chi, class: "form-control", placeholder: "VD: 3" %>
            </div>
            <br></br>
            <div class="modal-footer">
              <%= f.submit "Xác nhận", class: "btn btn-primary" %>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
          </div>
        <% end %>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
