<ul class="nav nav-tabs" id="sinhVienTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Danh sách sinh viên</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import sinh viên</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
    <%= render partial: "admin/sinh_viens/list_sinh_vien" %>
  </div>
  <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
    <%= render partial: "admin/sinh_viens/import_sinh_vien" %>
  </div>
</div>
