<tr id="khong_du_dieu_kien_<%= khong_du_dieu_kien.id %>">
  <td><%= khong_du_dieu_kien.sinh_vien.ten %></td>
  <td><%= khong_du_dieu_kien.sinh_vien_id %></td>
  <td><%= khong_du_dieu_kien.ly_do %></td>
</tr>
