<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importKhongDuDieuKienModal">
  Import danh sách không đủ điều kiện
</button>
<br>
<h3 class="text-center">Danh sách sinh viên không đủ điều kiện thi</h3>
<br>
<!-- Bang du lieu -->
<table id="khongDuDieuKiens" class="table table-striped table-bordered text-center" style="width: 100%">
  <thead>
    <tr>
      <th>Tên sinh viên</th>
      <th>Mã sinh viên</th>
      <th>Lý do</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/khong_du_dieu_kiens/khong_du_dieu_kien", collection: @khong_du_dieu_kiens %>
  </tbody>
</table>
<br>
<%= render partial: "admin/khong_du_dieu_kiens_imports/list_import_khong_du_dk", locals: { ky_thi: ky_thi, mon_thi: mon_thi } %>
