<p>
  <%= link_to "Môn thi", mon_this_path, remote: true %> > 
  <%= mon_thi.hoc_phan.ten %>
</p>

<!-- Bang ca thi -->
<table id="caThiSinhVien" class="table table-striped table-bordered text-center">
  <thead>
    <tr>
      <th>STT</th>
      <th>Ca thi</th>
      <th>Ngày thi</th>
      <th>Giờ bắt đầu</th>
      <th>Giờ kết thúc</th>
      <th>Phòng thi</th>
      <th>Số máy trống</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "ca_this/ca_thi", collection: ca_this %>
  </tbody>
</table>

<%= button_tag "Đăng ký", class: "btn btn-primary dangKyThi" %>
