<p>Xin chào <%= @resource.email %>!</p>

<p>Bạn đã yêu cầu cấp lại mật khẩu. Hãy thay đổi mật khẩu ở link bên dưới</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu như bạn không thực hiện thay đổi, xin hãy bỏ qua email này</p>
<p>Mật khẩu của bạn sẽ không thay đổi đến khi bạn thực hiện tạo mật khẩu mới</p>
